<h1 class="mb-4">
    Emails
</h1>
<div id="emails" role="tablist">
    {{#each emails}}
        <div class="card">
            <div class="card-header" role="tab" id="headingOne">
                <div class="row"
                     data-toggle="collapse"
                     data-target="#collapse-{{@index}}"
                     aria-expanded="true"
                     aria-controls="collapseOne">

                    <div class="px-2 w-25">
                        {{this.from.value.0.name}}
                        <span class="text-secondary">to</span>
                        {{this.to.value.0.name}}
                    </div>
                    <div class="px-2 w-75 text-secondary text-truncate">
                        {{this.subject}}
                    </div>
                </div>
            </div>

            <div id="collapse-{{@index}}"
                 class="collapse"
                 role="tabpanel"
                 aria-labelledby="headingOne"
                 data-parent="#emails">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <strong>From:</strong>
                        {{{this.from.html}}}
                    </li>
                    <li class="list-group-item">
                        <strong>To:</strong>
                        {{{this.to.html}}}
                    </li>
                    <li class="list-group-item">
                        <strong>Date:</strong>
                        {{{this.date}}}
                    </li>
                    <li class="list-group-item">
                        <strong>Subject:</strong>
                        {{{this.subject}}}
                    </li>
                </ul>
                <div class="card-body">
                    {{{this.textAsHtml}}}
                </div>
            </div>
        </div>
    {{else}}
        <div class="alert alert-info" role="alert">
            Empty mailbox
        </div>
    {{/each}}
</div>
